
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
.over-flow {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
}
a {
    text-decoration: none;
}
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.align-start {
    align-items: start;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}
.py-10 {
    padding: 0 10px;
}
ul{
    list-style: none;
}
.offer {
    background-color: #000000;
}
.offer p {
    color: #ffffff;
    font-size: 14px;
    padding: 8px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header-main {
    background-color: #ffffff;
    padding: 0 60px;
    border-bottom: 1px solid gray;

}
.header-main ul{
    padding-top: 24px;
}
.header-main ul li{
    padding-bottom: 24px;
}
.header-main ul li a{
    color: #0f0f0f;
    font-size: 12px;
    font-weight: 600;
    /* padding-bottom: 24px !important; */
}
.header-main ul li a:hover  {
    text-decoration: underline;
    color: #005599;
}
.header-main ul li i:hover {
    color: #005599;
    transform: scale(1.1);
    cursor: pointer;
}
.header-main {
    position: relative;
}
.mega-menu-one {
    width: 100%;
    background-color: #f9f9f9 ;
    position: absolute;
    top: 72px;
    /* top: -600px; */
    left: 0;
    display: none;
    transition: 1s;
}
.sub-menu {
    padding: 30px 0;
    transition:height 0.3s ease-in-out;
      transition-delay: 0.1s;
}
.sub-menu ul {
   padding: 0 10px 22px;
}
.sub-menu ul li{
    padding: 10px 0 0 0 !important;
 }
.sub-menu ul h2, .sub-menu h2 {
    font-size: 14px;
    font-weight: 500;
    color: #0f0f0f;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.sub-menu ul li a {
    font-size: 12px;
    color: #5f5f5f;
    text-transform: capitalize;
}
.watch-detail p, h5{
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
}
.watch-detail i{
    font-size: 12px;
    padding-bottom: 10px;
}
.select-btn {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #232323;
    padding: 13px 15px 10px;
    width: 100%;
    margin-top: 20px;
}
.select-btn:hover {
    background-color: #232323;
    color: #ffffff;
    cursor: pointer;
}
.watch-info {
    position: relative;
}
.watch-img-one {
    transition: 1s;
    
}
.watch-img-two {
    transition: 1s;
    position: absolute;
    top: 0;
    left: 28px;
    opacity: 0;
}
.watch-info:hover .watch-img-two {
    opacity: 1;
    cursor: pointer;
}
.watch-info::after {
    content: "New";
    position: absolute;
    top: 0;
    right: 5px;
    color: #ffffff;
    background-color: #0073BD;
    font-size: 12px;
    padding: 4px 7px 3px;
}
.watch-info::before {
    content: "Sale";
    position: absolute;
    top: 30px;
    right: 5px;
    color: #ffffff;
    background-color: #B20000;
    font-size: 12px;
    z-index: 22;
    padding: 4px 7px 3px;
}

.zoom-img {
    height: min-content;
    margin-top: 30px;
    overflow: hidden;
}
.image-zoom:hover {
    transform: scale(1.1);
    opacity: 0.3;
    cursor: pointer;
}
.image-zoom {
    overflow: hidden;
    transition: all 1s ease;
}
.header-main ul li:hover .mega-menu-one {
    display: block;
    top: 73px;
    /* transform: scaleY(1.1); */
}
/* .header-main ul li{
    position: relative;
} */
.womens-menu {
    position: relative;
}
.sub-menu-short {
    position: absolute;
    top: 48px;
    left: 0;
    width: max-content;
    display: none;
    background-color: #f9f9f9;
}

.header-main ul li:hover .sub-menu-short {
    display: block;
}
.sub-menu-short ul li {
    padding: 9px 10px 9px 5px;
    border-bottom: 1px solid #eaeaea;
    /* background-color: #f9f9f9 ; */
}
.sub-menu-short ul li a:hover, .sub-menu ul h2:hover {
    color: #005599;
    text-decoration: underline;
    cursor: pointer;
}
.sub-menu-short ul {
    padding: 0;
}
.sub-menu-short ul li {
    position: relative;
}
.sub-second-menu {
    position: absolute;
    top: -49px;
    right: 0;
    display: none;
}
.sub-menu-short ul li:hover .sub-second-menu {
    display: block;
}
.number-add {
    position: relative;
}
.number-add::after {
    content: "0";
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: #B20000;
    color: #ffffff;
    font-size: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


